<!-- game cell work -->
<div class="row">
    <div class="togeter-border-color startcell cell m-1 d-flex justify-content-center align-items-center" #c0>起點</div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c1 value="1"></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c2 value="2"></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c3 value="3"></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c4 value="4"></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c15 value="15"></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c5 value="5"></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c14 value="14"></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c6 value="6"></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c13 value="13"></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c7 value="7"></div>
  </div>
  <div class="row">
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c8 value="8"></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c9 value="9"></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c10 value="10"></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c11 value="11"></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c12 value="12"></div>
  </div>