<!-- game cell work -->
<div class="row">
    <div class="togeter-border-color cell m-1 d-flex justify-content-center align-items-center" #c0></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c1></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c2></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c3></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c4></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c15></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c5></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c14></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c6></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c13></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c7></div>
  </div>
  <div class="row">
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c8></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c9></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c10></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c11></div>
    <div class="cell m-1 d-flex justify-content-center align-items-center" #c12></div>
  </div>