<!-- game cell work -->
<div class="row">
    <div class="cell m-1" #c0></div>
    <div class="cell m-1" #c1></div>
    <div class="cell m-1" #c2></div>
    <div class="cell m-1" #c3></div>
    <div class="cell m-1" #c4></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="cell m-1" #c5></div>
    <div class="cell m-1" #c6></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="cell m-1" #c7></div>
    <div class="cell m-1" #c8></div>
  </div>
  <div class="row d-flex justify-content-between">
    <div class="cell m-1" #c9></div>
    <div class="cell m-1" #c10></div>
  </div>
  <div class="row">
    <div class="cell m-1" #c11></div>
    <div class="cell m-1" #c12></div>
    <div class="cell m-1" #c13></div>
    <div class="cell m-1" #c14></div>
    <div class="cell m-1" #c15></div>
  </div>