* {
    box-sizing: border-box;
}
.gameSet {
    position: absolute;
    width: 800px;
    min-height: 300px;
    background-color: white;
    top: 120px;
    left: -85px;
    z-index: 5;
}

.line-height {
    line-height: 200px;
}

.buttonWidth {
    width: 300px;
}

.selectBorder {
    box-shadow: 0 0 0 10px rgb(100, 220, 100);
}

.invisible {
    visibility: hidden;
}

/* GAME CELL STYLE */
.startcell {
    background-color: rgb(200, 60, 60);
}

.questionCell {
    background-color: rgb(240, 240, 240);
}

.destinyCell {
    background-color: rgb(250, 235, 145);
}

.changeCell {
    background-color: rgb(250, 185, 200);
}

.circle-border-color {
    border-color: rgb(237, 23, 63);
    box-shadow: 0 0 5px 0 rgba(237, 23, 63, 0.6),
    0 0 5px 0 rgb(0 ,0 ,0 );
}

.square-border-color {
    border-color: rgb(0, 160, 233);
    box-shadow: 0 0 5px 0 rgba(0, 160, 233, 1),
    0 0 5px 0 rgb(0 ,0 ,0 );
}

.togeter-border-color {
    border-color: rgb(255, 255, 255);
    box-shadow:
    inset 0 0 15px 0px rgb(255, 255, 255),
    0 0 5px 0 rgb(0 ,0 ,0 );
}