.circleCharacter {
    position: absolute;
    z-index: 2;
    top: 33px;
    left: 17px;
    width: 60px;

    filter: drop-shadow(0 0 3px white);
  }
  
  .squareCharacter {
    position: absolute;
    z-index: 2;
    top: 73px;
    left: 58px;
    width: 60px;

    filter: drop-shadow(0 0 3px white);
  }

  .yourTurn {
    z-index: 3;
  }