.circleCharacter {
  position: absolute;
  z-index: 2;
  top: 33px; /*move+123*/
  left: 17px; /*move+123*/
  width: 60px;

  filter: drop-shadow(0 0 3px white);
}

.squareCharacter {
  position: absolute;
  z-index: 2;
  top: 73px; /*move+123*/
  left: 58px; /*move+123*/
  width: 60px;

  filter: drop-shadow(0 0 3px white);
}

.yourTurn {
  z-index: 3;
}

.rollDice {
  position: absolute;
  z-index: 2;
  top: 256px;
  left: 244px;
  width: 140px;
  cursor: pointer;
}

.rollDice:hover {
  filter:drop-shadow(0 0 30px rgb(229, 248, 56)) ;
  transform: scale(1.06);
  transition: .15s;
}

button {
  border: none;
  background: transparent;
  padding: 0;
}


/*  game question change destiny */
.monopolyEvent {
  position: absolute;
  width: 800px;
  min-height: 300px;
  background-color: white;
  top: 120px;
  left: -85px;
  z-index: 5;
}

.line-height {
  line-height: 200px;
}

.buttonWidth {
  
  min-width: 200px;
  text-align: center;
  background: green;
  overflow-wrap: break-word;
}

.test {
  height: 100%;

}

.buttonWidth p {
  margin: 0;
}

.selectBorder {
  box-shadow: 0 0 0 10px rgb(100, 220, 100);
}



.invisible {
  visibility: hidden;
}

.displayNone {
  display: none;
}